@media (min-width: 1920px) {
  .c-button,
  .c-content-editor p,
  .u-b0,
  body {
    font-size: 0.8333333333vw;
  }
}
@media (min-width: 1440px) {
  .c-button,
  .c-content-editor p,
  .u-b0,
  body {
    font-size: 16px;
  }
}
@media (min-width: 480px) {
  .c-button,
  .c-content-editor p,
  .u-b0,
  body {
    font-size: 16px;
  }
}
.c-button,
.c-content-editor p,
.u-b0,
body {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  line-height: 130%;
  letter-spacing: -0.02em;
}

/* div */
.c-section-background .c-section-separator {
  z-index: 0;
}
.c-section-background .c-section-separator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.o-section--bg-green .c-section-separator {
  color: #5b6647;
}
.c-section-separator--top {
  bottom: -2px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (min-width: 1920px) {
  .c-section-separator {
    height: 8.3333333333vw;
  }
}
.c-section-separator {
  height: 160px;
  position: relative;
  overflow: hidden;
  display: grid;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: -1;
}

/* svg */
element.style {
  translate: none;
  rotate: none;
  scale: none;
  transform: translate3d(-1278.21px, 0px, 0px);
}
.c-section-separator .u-icon--separator-main {
  color: #5b6647;
  position: relative;
  z-index: 1;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}
.c-section-separator .u-icon {
  width: auto;
  height: 100%;
  display: block;
  grid-area: 1 / 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.u-icon {
  display: inline-block;
  width: 1em;
  height: 100%;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}
.o-section--bg-green .c-section-separator {
  color: #5b6647;
}
/* svg2 */
element.style {
  translate: none;
  rotate: none;
  scale: none;
  transform: translate3d(-635.728px, 0px, 0px);
}
.c-section-separator .u-icon--separator-secondary {
  color: #e3e3c4;
}
.c-section-separator .u-icon {
  width: auto;
  height: 100%;
  display: block;
  grid-area: 1 / 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.u-icon {
  display: inline-block;
  width: 1em;
  height: 100%;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
user agent stylesheet svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}
